{# src/ASG/AlphasourcingBundle/Resources/views/Default/contact.html.twig #}

{% extends "ASGAlphasourcingBundle::layout.html.twig" %}

{% block title %}
  Contacez-Nous
{% endblock %}

{% block body %} 
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Contactez-Nous</title>
</head>
<body>
    <section>
    <article>
        <p>
            <div class="container">
                <form role="form" action="" method="post" >
                    <div class="col-lg-6">
                      <br><br>
                        <div class="form-group">
                         <label for="InputName">Nom</label>
                         <div class="input-group">
                         <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Nom" required>
                         <span class="input-group-addon"></span></div>
                        </div>
                        <div class="form-group">
                         <label for="InputNumero">Numéro</label>
                         <div class="input-group">
                         <input type="text" class="form-control" name="InputNumero" id="InputNumero" placeholder="Numéro" required>
                         <span class="input-group-addon"></span></div>
                        </div>
                        <div class="form-group">
                         <label for="InputAdresse">Adresse</label>
                         <div class="input-group">
                         <input type="text" class="form-control" name="InputAdresse" id="InputAdresse" placeholder="Adresse" required>
                         <span class="input-group-addon"></span></div>
                        </div>
                        <div class="form-group">
                         <label for="InputEmail">Email</label>
                         <div class="input-group">
                         <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Email" required  >
                         <span class="input-group-addon"></span></div>
                        </div>
                        <div class="form-group">
                         <label for="InputMessage">Message</label>
                         <div class="input-group">
                         <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                         <span class="input-group-addon"></span></div>
                        </div>
      
                        <input style="background-color:#D521AE; border-color:#D521AE;" type="submit" name="submit" id="submit" value="Valider" class="btn btn-info pull-right"><br><br>
                    </div>
                </form>
                <br><br>
                Suzy Carpentier<br>
                Managing Director<br>
                Email:<br>
                s.carpentier@alphasourcing.fr<br><br>

                Laurent Durieux<br>
                Business Developpement Director<br>
                Email:<br>
                l.durieux@alphasourcing.fr<br><br>

                Amy Diop<br>
                Business Developpemt Director<br>
                Email:<br>
                a.diop@alphasourcing.fr<br><br>
            </div>
	    </p>
    </article>
    </section>
{% endblock %}