{# src/ASG/AlphasourcingBundle/Resources/views/Default/partenaires.html.twig #}

{% extends "ASGAlphasourcingBundle::layout.html.twig" %}

{% block title %}
  Partenaires
{% endblock %}


{% block body %}
<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<title>Partenaires</title>
</head>
<body>
	<section>
    <article>
	<div class="box1 clearfix">
		<div class="container">
			<div class="row">
			    <h1>Ils nous font confiance</h1>
			    <div class="col-sm-4">
				 <img src="img/contenu/alcatel.png" alt="alcatel" class="thumbnail">
				</div>
				<div class="col-sm-4">
				 <img src="img/contenu/ge energy.png" alt="ge energy" class="thumbnail">
				</div>
				<div class="col-sm-4">
				 <img src="img/contenu/sfr.jpg" alt="sfr" class="thumbnail" >
				</div>
				<div class="col-sm-4">
				 <img src="img/contenu/westinghouse.png" alt="westinghouse" class="thumbnail" >
				</div>
				<div class="col-sm-4">
				 <img src="img/contenu/bnp paribas.jpg" alt="bnp paribas" class="thumbnail" >
				</div>
				<div class="col-sm-4">
				 <img src="img/contenu/technip.jpg" alt="technip" class="thumbnail" >
				</div>
				<div class="col-sm-4">
				 <img src="img/contenu/banque postale.jpg" alt="banque postale" class="thumbnail" >
				</div>
			    <div class="col-sm-4">
				 <img src="img/contenu/cisco.jpg" alt="cisco" class="thumbnail" >
				</div>
				<div class="col-sm-4">
				 <img src="img/contenu/bouygues.jpg" alt="bouygues" class="thumbnail" >
				</div>
			</div>
		</div>
	</div>
	</article>
	</section>
{% endblock %}