{# src/ASG/AlphasourcingBundle/Resources/views/Advert/index.html.twig #}

{% extends "ASGAlphasourcingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - One Stop Global Sourcing{% endblock %}

{% block body %}  

<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<title>AlphaSourcing</title>
</head>
<body>
	
	<section>
		<article>
		    <div class="box1 clearfix">
				<div class="container">
					<div class="row">
						<h1>One Stop Global Sourcing</h1>
						<div class="col-sm-4">
							<img src="bundles/asgalphasourcing/img/contenu/business.jpg" alt="business" class="thumbnail">
							<h2>Business Unit NTC</h2>
							<p>Notre équipe spécialisée sur le développement intervient sur le recrutement des profils NTIC:<br/>
							   Technologies objets: NET, C#, JAVA, C++, PHP...</p>
							<a class="btn btn-danger btn-lg" href="alphasourcing/presentation" style="background-color:#D521AE; border-color:#D521AE;">Lire la suite</a>
						</div>
						<div class="col-sm-4">
							<img src="bundles/asgalphasourcing/img/contenu/erp.jpg" alt="erp" class="thumbnail">
							<h2>Business Unit ERP</h2>
							<p>Reporting: Business Objects, Cognos, Microstrategy, SSAS, SSRS, Hyperion, SAS, Qlikview<br/>
							   ETL: Informatica, Datastage, Genio, ODI, MS SSIS, BODI...<br/></p>
							<a class="btn btn-danger btn-lg" href="alphasourcing/presentation" style="background-color:#D521AE; border-color:#D521AE;">Lire la suite</a>
						</div>
						<div class="col-sm-4">
							<img src="bundles/asgalphasourcing/img/contenu/infrastructure.jpg" alt="Nos infrastructure" class="thumbnail" >
							<h2>Infrastructure</h2>
							<p>Système/ Server / Poste de travail / Virtualisation : Windows, Linux, Unix, AS400, Vmware, Citrix, MS server, Active Directory<br>
							   Réseau/Sécurité : Cisco, Juniper, Symantec...<br/></p>
							<a class="btn btn-danger btn-lg" href="alphasourcing/presentation" style="background-color:#D521AE; border-color:#D521AE;">Lire la suite</a>
						</div>
					</div>
				</div>
			</div>
			<div class="box3 clearfix">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<h2>Notre expérience- Alpha Sourcing</h2>
							<p>nous disposons aujourd'hui de plus d'une dizaine années expérience dans l'informatique critique.</p>
							<a class="btn btn-danger btn-lg" href="contact.html" style="background-color:#D521AE; border-color:#D521AE;">Contact</a>
						</div>
						<div class="col-sm-8">
							<div class="col-sm-6">
								<div class="col-sm-3 round">
									<i class="glyphicon glyphicon-cloud" style="color:#000" ></i>
								</div>
								<div class="col-sm-9">
									<h3 style="color:#D521AE">Fort de notre qualité de recrutement</h3>
									<p class="legend-picto">
										Nous recrutons et fidélisons nos meilleurs candidats.<br/>										
									</p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-3 round">
									<i class="glyphicon glyphicon-pencil" style="color:#000" ></i>
								</div>
								<div class="col-sm-9">
									<h3 style="color:#D521AE">A l'écoute</h3>
									<p class="legend-picto">
										Nous sommes à l'écoute nos clients afin de s'adapter au maximun à leurs besions.
										Des évaluations sont réalisées régulièrement.<br/>
									</p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-3 round">
									<i class="glyphicon glyphicon-user" style="color:#000" ></i>
								</div>
								<div class="col-sm-9">
									<h3 style="color:#D521AE">Partenariats</h3>
									<p class="legend-picto">
										Nous sommes sous traitant d'opérateurs Télécom ainsi que de grandes SSII en France et à l'international.<br/>
										Tél que: SFR, Orange, Bouygues.
									</p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-3 round">
									<i class="glyphicon glyphicon-ok" style="color:#000" ></i>
								</div>
								<div class="col-sm-9">
									<h3 style="color:#D521AE">Domaines d'expertise et Services </h3>
									<p class="legend-picto">
										- Business Unit NTIC<br/>
										- Business Unit TELECOMS<br/>
										- Business Unit ERP<br/>
										- Infrastructure<br/>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
</body>
</html> 

{% endblock %}