{# src/ASG/AlphasourcingBundle/Resources/views/Default/presentation.html.twig #}

{% extends "ASGAlphasourcingBundle::layout.html.twig" %}

{% block title %}
  A propos d'Alpha Sourcing
{% endblock %}

{% block body %}
<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<title>A propos d'Alpha Sourcing</title>
</head>
<body>
	<section>
	<article>
	<div class="box1 clearfix">
		<div class="container">
		    <div class="row">
			    <h1>A propos d'Alpha Sourcing</h1>
				<div class="col-sm-6">
                 <p>Alpha Sourcing opère à l'international depuis Mars 2007 et en France en 2012.<br />
                    Fort de nos expériences dans les Télécoms et IT, nous sommes sous-traitant de Constructueurs et Opérateurs Télécom ainsi que de grandes SSII en France et à l'international.<br />
                    A l'écoute de nos clients. Nous organisons des évaluations régulières de nos ressources sur le site avec le client.<br />
                    Nous recrutons et fidélisons les meilleurs candidats. </p>
                </div>

                <div class="col-sm-4">
				    <p>Nos Atouts :</p>
					<ul class="fa-ul">
					 <li>Le partenariat fort avec nos clients</li>
					 <li>La flexibilité dans nos offres</li>
					 <li>L'écoute de nos clients</li>
					 <li>L'évaluation de nos ressources</li>
					 <li>La motivation de nos équipes</li>
					 <li>L'excellence dans le processus de recrutement</li>
					 <li>La formation de nos ingénieurs et techniciens</li>
					</ul>
				</div>			
		    </div>
		</div>
    </div>


    <div class="box2 clearfix">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
				 <img src="img/contenu/business.jpg" alt="business" class="thumbnail">
				 <h2>Business Unit NTC</h2>
				 <p>Notre équipe spécialisée sur le développement intervient sur le recrutement des profils NTIC:<br/>
					Technologies objets: NET, C#, JAVA, C++, PHP...<br />
					Développement de projet en passant par l'architecte et le Chef De Projet.</p>							
				</div>
				<div class="col-sm-4">
				 <img src="img/contenu/erp.jpg" alt="erp" class="thumbnail">
				 <h2>Business Unit ERP</h2>
				 <p>Reporting: Business Objects, Cognos, Microstrategy, SSAS, SSRS, Hyperion, SAS, Qlikview<br/>
				    ETL: Informatica, Datastage, Genio, ODI, MS SSIS, BODI...<br/>
					CRM: Sieebel, Salesforce, Microsoft Dynamics, Selligent, Neolane, Pivotal, OBIEE, SugarCRM<br/>
					ERP (hors SAP): HR Access, Qualic</p>
				</div>
				<div class="col-sm-4">
				 <img src="img/contenu/infrastructure.jpg" alt="Nos infrastructures" class="thumbnail" >
				 <h2>Infrastructure</h2>
				 <p>Système/ Server / Poste de travail / Virtualisation : Windows, Linux, Unix, AS400, Vmware,   Citrix, MS  server, Active Directory<br>
				    Réseau/Sécurité : Cisco, Juniper, Symantec...<br/>
				    Stockage/Sauvegarde : EMC, IBM,TIVOLI, HDS, Netapp<br />
					Messagerie: MS Exchange, Lotusnote, Domino<br />
					Processus production : ITIL, ITSM, BMC, HPSM, ARS, Service now<br />
					Conseil : Gouvernance SI, Sourcing SI, Architecture d'entreprise, Sécurité SI<br />
				 </p>
				</div>
			    <div class="col-sm-4">
				 <img src="img/contenu/telecom.jpg" alt="telecom" class="thumbnail" >
				 <h2>Business Unit telecoms</h2>
				 <p>Assistance technique aux différents métiers dans les télécoms.<br>
					Mise à disposition d'ingénieurs bien qualifiés dans tous les domaines : Réseaux, VoIP, Sécurité etc...</p>
				</div>
			</div>
		</div>
	</div>
	</article>
	</section>
			
{% endblock %}